<!-- begin::Header -->
<div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">Latest Property Analyses</span>
        <span class="text-muted mt-1 fw-bold fs-7">10 new analyses performed today</span>
    </h3>
    <div class="card-toolbar">
        <a class="btn btn-sm btn-light-primary"
            [routerLink]="['/properties/prospects']">
            View All
        </a>
    </div>
</div>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
        <!-- begin::Table -->
        <table class="table align-middle gs-0 gy-4">
            <!-- begin::Table head -->
            <thead>
                <tr class="fw-bolder text-muted bg-light">
                    <th class="ps-4 min-w-325px rounded-start">Property</th>
                    <th class="min-w-100px">Coc</th>
                    <th class="min-w-100px">Cap Rate</th>
                    <th class="min-w-125px">Cash Flow</th>
                    <th class="min-w-150px">Cash Needed</th>
                    <th class="min-w-150px">Purchase Price</th>
                    <th class="min-w-175px text-end rounded-end"></th>
                </tr>
            </thead>
            <!-- end::Table head -->
            <!-- begin::Table body -->
            <tbody>
                <tr *ngFor="let newProperty of newProperties">
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="symbol symbol-50px me-5">
                                <img
                                    src="./assets/media/stock/600x400/img-26.jpg"
                                    class
                                    alt />
                            </div>
                            <div
                                class="d-flex justify-content-start flex-column">
                                <a
                                    href="#"
                                    class="text-gray-900 fw-bolder text-hover-primary mb-1 fs-6">
                                    9801 N 11th St, Tampa, FL 33612
                                </a>
                                <span
                                    class="text-muted fw-bold text-muted d-block fs-7">
                                    2 bds | 2 bths | 2 units
                                </span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a
                            href="#"
                            class="text-gray-900 fw-bolder text-hover-primary d-block mb-1 fs-6">
                            9%
                        </a>
                        <!-- <span class="text-muted fw-bold text-muted d-block fs-7">Paid</span> -->
                    </td>
                    <td>
                        <a
                            href="#"
                            class="text-gray-900 fw-bolder text-hover-primary d-block mb-1 fs-6">
                            10%
                        </a>
                        <!-- <span class="text-muted fw-bold text-muted d-block fs-7"
                >Rejected</span
              > -->
                    </td>
                    <td>
                        <a
                            href="#"
                            class="text-gray-900 fw-bolder text-hover-primary d-block mb-1 fs-6">
                            $200/mo
                        </a>
                        <!-- <span class="text-muted fw-bold text-muted d-block fs-7"
                >Insurance</span
              > -->
                    </td>
                    <td>
                        <a
                            href="#"
                            class="text-gray-900 fw-bolder text-hover-primary d-block mb-1 fs-6">
                            $25,555
                        </a>
                        <!-- <span class="text-muted fw-bold text-muted d-block fs-7"
                  >Insurance</span
                > -->
                    </td>
                    <td>
                        <a
                            href="#"
                            class="text-gray-900 fw-bolder text-hover-primary d-block mb-1 fs-6">
                            $255,555
                        </a>
                        <!-- <span class="text-muted fw-bold text-muted d-block fs-7"
                >Insurance</span
              > -->
                    </td>
                    <td>
                        <span
                            class="badge badge-light-primary fs-7 fw-bold">Approved</span>
                    </td>
                </tr>
            </tbody>
            <!-- end::Table body -->
        </table>
        <!-- end::Table -->
    </div>
    <!-- end::Table container -->
</div>
<!-- begin::Body -->
