<!-- begin::Header-->
<div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder text-gray-900">Saved Properties</span>
        <!-- <span class="text-muted mt-1 fw-bold fs-7">Latest tech trends</span> -->
    </h3>
    <div class="card-toolbar">
        <a class="btn btn-sm btn-light-primary"
            [routerLink]="['/properties/saved']">
            View All
        </a>
    </div>
</div>
<!-- end::Header-->
<!-- begin::Body-->
<div class="card-body pt-5">
    <ng-container *ngIf="savedProperties && savedProperties.length > 0; else noSavedProperties">
        <div *ngFor="let savedProperty of firstSevenProperties">
    
            <!-- begin::Item-->
            <div class="d-flex align-items-sm-center mb-7 cursor-pointer" [routerLink]="['/properties/' + savedProperty.id]">
                <!-- begin::Symbol-->
                <div class="symbol symbol-50px me-5">
                    <span class="symbol-label">
                        <img
                            src="./assets/media/svg/brand-logos/plurk.svg"
                            class="h-50 align-self-center"
                            alt />
                    </span>
                </div>
                <!-- end::Symbol-->
                <!-- begin::Section-->
                <div
                    class="d-flex align-items-center flex-row-fluid flex-wrap pr-2">
                    <div class="flex-grow-1 me-2">
                        <a
                            class="text-gray-800 text-hover-primary fs-6 fw-bolder">
                            {{ savedProperty.formattedAddress | shortAddress }}
                        </a>
                        <span class="text-muted fw-bold d-block fs-7">{{savedProperty.propertyType}} | {{ savedProperty.units }} units</span>
                    </div>
                    <span>
                        <div class="btn btn-sm btn-light-success fw-bolder ms-2 fs-8 py-1 px-3 criteria-label"
                            [ngClass]="{
                                'btn-light-success': savedProperty.purchaseCriteriaScore >= 85,
                                'btn-light-warning': savedProperty.purchaseCriteriaScore >= 70 && savedProperty.purchaseCriteriaScore < 85,
                                'btn-light-danger': savedProperty.purchaseCriteriaScore < 70
                            }">
                            {{ savedProperty.purchaseCriteriaScore }}%
                        </div>
                    </span>
                </div>
                <!-- end::Section-->
            </div>
            <!-- end::Item-->
        </div>
    </ng-container>
    <ng-template #noSavedProperties>
        <div class="text-center text-muted fs-6 fw-bold py-10">No saved properties available</div>
    </ng-template>

</div>
<!-- end::Body-->
