<div class="container">
    <div class="card mb-5 mb-xl-10">
        <div class="card-body pt-9 pb-0">
            <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
                <div class="me-7 mb-4">
                    <div class="
                    symbol symbol-100px symbol-lg-160px symbol-fixed
                    position-relative
                ">
                        <img src="./assets/media/avatars/300-1.jpg"
                            alt="Metronic" />
                        <div class="
                    position-absolute
                    translate-middle
                    bottom-0
                    start-100
                    mb-6
                    bg-success
                    rounded-circle
                    border border-4 border-white
                    h-20px
                    w-20px
                    "></div>
                    </div>
                </div>

                <div class="flex-grow-1">
                    <div class="
                    d-flex
                    justify-content-between
                    align-items-start
                    flex-wrap
                    mb-2
                ">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-center mb-2">
                                <a class="
                        text-gray-800 text-hover-primary
                        fs-2
                        fw-bolder
                        me-1
                        cursor-pointer
                        ">
                                    9801 N 11th St, Tampa, FL 33612
                                </a>
                            </div>

                            <div
                                class="d-flex flex-wrap fw-bold fs-6 mb-4 pe-2">
                                <a class="
                        d-flex
                        align-items-center
                        text-gray-500 text-hover-primary
                        me-5
                        mb-2
                        cursor-pointer
                        ">
                                    Multi-family | 3 Units | 1092 Sqft
                                </a>
                            </div>
                        </div>

                        <div class="d-flex my-4">
                            <a class="btn btn-sm btn-light cursor-pointer">
                                <app-keenicon name="heart"
                                    class="fs-3"></app-keenicon>
                            </a>
                        </div>
                    </div>

                    <div class="d-flex flex-wrap flex-stack">
                        <div class="d-flex flex-column flex-grow-1 pe-8">
                            <div class="d-flex flex-wrap">
                                <div class="
                                border border-gray-300 border-dashed
                                rounded
                                min-w-125px
                                py-3
                                px-4
                                me-6
                                mb-3
                                ">
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="fs-2 text-success fw-bolder">$1,200/yr</div>
                                    </div>

                                    <div
                                        class="fw-bold fs-6 text-gray-500">Cash
                                        Flow</div>
                                </div>

                                <div class="
                        border border-gray-300 border-dashed
                        rounded
                        min-w-125px
                        py-3
                        px-4
                        me-6
                        mb-3
                        ">
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="fs-2 text-success fw-bolder">9%</div>
                                    </div>

                                    <div
                                        class="fw-bold fs-6 text-gray-500">CoC</div>
                                </div>

                                <div class="
                        border border-gray-300 border-dashed
                        rounded
                        min-w-125px
                        py-3
                        px-4
                        me-6
                        mb-3
                        ">
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="fs-2 text-danger fw-bolder">6%</div>
                                    </div>

                                    <div
                                        class="fw-bold fs-6 text-gray-500">Cap
                                        Rate</div>
                                </div>

                                <div class="
                        border border-gray-300 border-dashed
                        rounded
                        min-w-125px
                        py-3
                        px-4
                        me-6
                        mb-3
                        ">
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="fs-2 text-success fw-bolder">$25,555</div>
                                    </div>

                                    <div
                                        class="fw-bold fs-6 text-gray-500">Cash
                                        Needed</div>
                                </div>

                                <div class="
                        border border-gray-300 border-dashed
                        rounded
                        min-w-125px
                        py-3
                        px-4
                        me-6
                        mb-3
                        ">
                                    <div class="d-flex align-items-center">
                                        <div
                                            class="fs-2 text-success fw-bolder">$250,000</div>
                                    </div>

                                    <div
                                        class="fw-bold fs-6 text-gray-500">Purchase
                                        Price</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Purchase Criteria -->
    <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
        <div class="card-header">
            <div class="card-title m-0">
                <h2 class="fw-bolder m-0">Purchase Criteria</h2>
            </div>
        </div>

        <div class="card-body p-9 pb-3">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-6 text-muted">Purchase Price
                            <span>
                                <a
                                    class="btn btn-sm btn-light-danger fw-bolder ms-2 fs-8 py-1 px-3 criteria-label">
                                    Failed
                                </a>
                            </span>
                        </div>
                        <div
                            class="col fw-bolder fs-6 text-danger text-end">$250,000</div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-6 text-muted">Total Cash
                            Needed
                            <span>
                                <a
                                    class="btn btn-sm btn-light-success fw-bolder ms-2 fs-8 py-1 px-3 criteria-label">
                                    Passed
                                </a>
                            </span>
                        </div>
                        <div
                            class="col fw-bolder fs-6 text-success text-end">$20,000</div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-6 text-muted">Cash Flow
                            <span>
                                <a
                                    class="btn btn-sm btn-light-success fw-bolder ms-2 fs-8 py-1 px-3 criteria-label">
                                    Passed
                                </a>
                            </span>
                        </div>
                        <div
                            class="col fw-bolder fs-6 text-success text-end">$200</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-6 text-muted">Cash on Cash Return
                            <span>
                                <a
                                    class="btn btn-sm btn-light-success fw-bolder ms-2 fs-8 py-1 px-3 criteria-label">
                                    Passed
                                </a>
                            </span>
                        </div>
                        <div
                            class="col fw-bolder fs-6 text-success text-end">10%</div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-6 text-muted">Cap Rate
                            <span>
                                <a
                                    class="btn btn-sm btn-light-danger fw-bolder ms-2 fs-8 py-1 px-3 criteria-label">
                                    Failed
                                </a>
                            </span>
                        </div>
                        <div
                            class="col fw-bolder fs-6 text-danger text-end">5%</div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-6 text-muted">Internal Rate of Return
                            <span>
                                <a
                                    class="btn btn-sm btn-light-danger fw-bolder ms-2 fs-8 py-1 px-3 criteria-label">
                                    Failed
                                </a>
                            </span>
                        </div>
                        <div
                            class="col fw-bolder fs-6 text-danger text-end">3%</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Analysis Summary -->
    <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
        <div class="card-header">
            <div class="card-title m-0">
                <h2 class="fw-bolder m-0">Analysis Summary</h2>
            </div>
        </div>

        <div class="card-body p-9 pb-3">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-6 text-muted">
                            Purchase Price
                            <span>
                                <i class="bi bi-info-circle ms-1 fs-6"
                                    style="color: #1B84FF;"
                                    data-bs-toggle="popover" 
                                    data-bs-placement="top" 
                                    data-bs-trigger="hover"
                                    data-bs-delay='{"show": 0, "hide": 250}'
                                    title="Purchase Price" data-bs-content="The amount the property is listed for.">
                                </i>
                            </span>
                        </div>
                        <div
                            class="col fw-bolder fs-6 text-gray-900 text-end">$300,000</div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-6 text-muted">
                            Total Cash Needed
                            <span><i class="bi bi-info-circle ms-1 fs-6"
                                    style="color: #1B84FF;"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Example tooltip"></i></span>
                        </div>
                        <div
                            class="col fw-bolder fs-6 text-gray-900 text-end">$555</div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-6 text-muted">
                            Rental Income
                            <span><i class="bi bi-info-circle ms-1 fs-6"
                                    style="color: #1B84FF;"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Example tooltip"></i></span>
                        </div>
                        <div
                            class="col fw-bolder fs-6 text-gray-900 text-end">$555</div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-6 text-muted">
                            Expenses
                            <span><i class="bi bi-info-circle ms-1 fs-6"
                                    style="color: #1B84FF;"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Example tooltip"></i></span>
                        </div>
                        <div
                            class="col fw-bolder fs-6 text-gray-900 text-end">$555</div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-6 text-muted">
                            Cash Flow
                            <span><i class="bi bi-info-circle ms-1 fs-6"
                                    style="color: #1B84FF;"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Example tooltip"></i></span>
                        </div>
                        <div
                            class="col fw-bolder fs-6 text-gray-900 text-end">$555</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-6 text-muted">
                            Cash on Cash Return
                            <span><i class="bi bi-info-circle ms-1 fs-6"
                                    style="color: #1B84FF;"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Example tooltip"></i></span>
                        </div>
                        <div
                            class="col fw-bolder fs-6 text-gray-900 text-end">$555</div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-6 text-muted">
                            Cap Rate
                            <span><i class="bi bi-info-circle ms-1 fs-6"
                                    style="color: #1B84FF;"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Example tooltip"></i></span>
                        </div>
                        <div
                            class="col fw-bolder fs-6 text-gray-900 text-end">$555</div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-6 text-muted">
                            Net Operating Income
                            <span><i class="bi bi-info-circle ms-1 fs-6"
                                    style="color: #1B84FF;"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Example tooltip"></i></span>
                        </div>
                        <div
                            class="col fw-bolder fs-6 text-gray-900 text-end">$555</div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-6 text-muted">
                            Internal Rate of Return
                            <span><i class="bi bi-info-circle ms-1 fs-6"
                                    style="color: #1B84FF;"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Example tooltip"></i></span>
                        </div>
                        <div
                            class="col-4 fw-bolder fs-6 text-gray-900 text-end">$555</div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-6 text-muted">
                            Debt Coverage Ratio
                            <span><i class="bi bi-info-circle ms-1 fs-6"
                                    style="color: #1B84FF;"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Example tooltip"></i></span>
                        </div>
                        <div
                            class="col fw-bolder fs-6 text-gray-900 text-end">$555</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Expenses -->
    <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
        <div class="card-header">
            <div class="card-title m-0">
                <h2 class="fw-bolder m-0">Expenses</h2>
            </div>
        </div>

        <div class="card-body p-9 pb-3">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-6 text-muted">
                            Mortgage
                            <span><i class="bi bi-info-circle ms-1 fs-6"
                                    style="color: #1B84FF;"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Example tooltip"></i></span>
                        </div>
                        <div
                            class="col fw-bolder fs-6 text-gray-900 text-end">$300,000</div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-6 text-muted">
                            Property Taxes
                            <span><i class="bi bi-info-circle ms-1 fs-6"
                                    style="color: #1B84FF;"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Example tooltip"></i></span>
                        </div>
                        <div
                            class="col fw-bolder fs-6 text-gray-900 text-end">$219</div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-6 text-muted">
                            Insurance
                            <span><i class="bi bi-info-circle ms-1 fs-6"
                                    style="color: #1B84FF;"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Example tooltip"></i></span>
                        </div>
                        <div
                            class="col fw-bolder fs-6 text-gray-900 text-end">$219</div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-6 text-muted">
                            Vacancy
                            <span><i class="bi bi-info-circle ms-1 fs-6"
                                    style="color: #1B84FF;"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Example tooltip"></i></span>
                        </div>
                        <div
                            class="col fw-bolder fs-6 text-gray-900 text-end">$219</div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-6 text-muted">
                            Repair & Maintenance
                            <span><i class="bi bi-info-circle ms-1 fs-6"
                                    style="color: #1B84FF;"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Example tooltip"></i></span>
                        </div>
                        <div
                            class="col fw-bolder fs-6 text-gray-900 text-end">$219</div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-6 text-muted">
                            Capital Expenditure
                            <span><i class="bi bi-info-circle ms-1 fs-6"
                                    style="color: #1B84FF;"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Example tooltip"></i></span>
                        </div>
                        <div
                            class="col fw-bolder fs-6 text-gray-900 text-end">$219</div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-6 text-muted">
                            Management Fees
                            <span><i class="bi bi-info-circle ms-1 fs-6"
                                    style="color: #1B84FF;"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Example tooltip"></i></span>
                        </div>
                        <div
                            class="col fw-bolder fs-6 text-gray-900 text-end">$219</div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-6 text-muted">
                            Other Expenses
                            <span><i class="bi bi-info-circle ms-1 fs-6"
                                    style="color: #1B84FF;"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Example tooltip"></i></span>
                        </div>
                        <div
                            class="col fw-bolder fs-6 text-gray-900 text-end">$219</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-footer pb-0">
            <div class="row mb-7">
                <div class="col-8 fw-bold fs-6 text-gray-900">
                    Total Expenses:
                </div>
                <div class="col fw-bolder fs-6 text-end"
                    style="color: #1B84FF;">$4,000</div>
            </div>
        </div>
    </div>

    <!-- Rental Comps -->
    <div class="card mb-5 mb-xl-8">
        <div class="card-header border-0 pt-5">
            <h2 class="card-title align-items-start flex-column">
                <span class="card-label fw-bolder fs-3 mb-1">Rent Comparables</span>
                <span class="text-muted mt-1 fw-bold fs-7">10 total rent comparables </span>
            </h2>
        </div>
        
        <div class="card-body py-3">
            <!-- begin::Table container -->
            <div class="table-responsive">
                <!-- begin::Table -->
                <table class="table align-middle gs-0 gy-4">
                    <!-- begin::Table head -->
                    <thead>
                        <tr class="fw-bolder text-muted bg-light">
                            <th
                                class="ps-4 min-w-325px rounded-start">Property</th>
                            <th class="min-w-100px">Rent</th>
                            <th class="min-w-100px">Distance</th>
                            <th class="min-w-125px">Year Built</th>
                            <th class="min-w-150px">Correlation</th>
                        </tr>
                    </thead>
                    <!-- end::Table head -->
                    <!-- begin::Table body -->
                    <tbody>
                        <tr *ngFor="let rentalComp of rentalComps">
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="d-flex ps-4 flex-column">
                                        <a
                                            href="#"
                                            class="text-gray-900 fw-bolder text-hover-primary mb-1 fs-6">
                                            9801 N 11th St, Tampa, FL 33612
                                        </a>
                                        <span
                                            class="text-muted fw-bold text-muted d-block fs-7">
                                            2 bds | 2 bths | 2 units
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a
                                    href="#"
                                    class="text-gray-900 fw-bolder text-hover-primary d-block mb-1 fs-6">
                                    $1,500
                                </a>
                            </td>
                            <td>
                                <a
                                    href="#"
                                    class="text-gray-900 fw-bolder text-hover-primary d-block mb-1 fs-6">
                                    0.3 mi
                                </a>
                            </td>
                            <td>
                                <a
                                    href="#"
                                    class="text-gray-900 fw-bolder text-hover-primary d-block mb-1 fs-6">
                                    1952
                                </a>
                            </td>
                            <td>
                                <span>
                                    <a
                                        class="btn btn-sm btn-light-success fw-bolder ms-2 fs-8 py-1 px-3 criteria-label">
                                        91%
                                    </a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                    <!-- end::Table body -->
                </table>
                <!-- end::Table -->
            </div>
            <!-- end::Table container -->
        </div>
        <!-- begin::Body -->

    </div>

</div>
