<div class="container">
    <!-- PropertySummary -->
    <div class="card mb-5 mb-xl-10">
        <app-property-summary-card [propertyAnalysis]="propertyAnalysis"></app-property-summary-card>
    </div>

    <!-- Purchase Criteria -->
    <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
        <div class="card-header">
            <div class="card-title m-0">
                <h2 class="fw-bolder m-0">Purchase Criteria</h2>
            </div>
        </div>

        <div class="card-body p-9 pb-3">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-5 text-muted">
                            Purchase Price
                            <a
                                *ngIf="propertyAnalysis?.isPurchasePriceWithinCriteria !== null"
                                [ngClass]="{
                                    'btn btn-sm fw-bolder ms-2 fs-8 py-1 px-3 criteria-label': true,
                                    'btn-light-danger': !propertyAnalysis?.isPurchasePriceWithinCriteria,
                                    'btn-light-success': propertyAnalysis?.isPurchasePriceWithinCriteria
                                }">
                                {{ propertyAnalysis?.isPurchasePriceWithinCriteria ? 'Passed' : 'Failed' }}
                            </a>
                        </div>
                        <div 
                            class="col fw-bold fs-6 text-end"
                            [ngClass]="{
                                'text-danger': !propertyAnalysis?.isPurchasePriceWithinCriteria,
                                'text-success': propertyAnalysis?.isPurchasePriceWithinCriteria,
                                'text-muted': propertyAnalysis?.isPurchasePriceWithinCriteria == null
                            }">
                            {{ propertyAnalysis?.isPurchasePriceWithinCriteria !== null ? (propertyAnalysis?.purchasePrice | currency:'USD':'symbol':'1.0-0') : 'n/a' }}
                        </div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-5 text-muted">Total Cash Needed
                            <a
                                *ngIf="propertyAnalysis?.isCashNeededWithinCriteria !== null"
                                [ngClass]="{
                                    'btn btn-sm fw-bolder ms-2 fs-8 py-1 px-3 criteria-label': true,
                                    'btn-light-danger': !propertyAnalysis?.isCashNeededWithinCriteria,
                                    'btn-light-success': propertyAnalysis?.isCashNeededWithinCriteria
                                }">
                                {{ propertyAnalysis?.isCashNeededWithinCriteria ? 'Passed' : 'Failed' }}
                            </a>
                        </div>
                        <div 
                            class="col fw-bold fs-6 text-end"
                            [ngClass]="{
                                'text-danger': !propertyAnalysis?.isCashNeededWithinCriteria,
                                'text-success': propertyAnalysis?.isCashNeededWithinCriteria,
                                'text-muted': propertyAnalysis?.isCashNeededWithinCriteria == null
                            }">
                            {{ propertyAnalysis?.isCashNeededWithinCriteria !== null ? (propertyAnalysis?.cashNeeded | currency:'USD':'symbol':'1.0-0') : 'n/a' }}
                        </div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-5 text-muted">Cash Flow
                            <a
                                *ngIf="propertyAnalysis?.isCashFlowWithinCriteria !== null"
                                [ngClass]="{
                                    'btn btn-sm fw-bolder ms-2 fs-8 py-1 px-3 criteria-label': true,
                                    'btn-light-danger': !propertyAnalysis?.isCashFlowWithinCriteria,
                                    'btn-light-success': propertyAnalysis?.isCashFlowWithinCriteria
                                }">
                                {{ propertyAnalysis?.isCashFlowWithinCriteria ? 'Passed' : 'Failed' }}
                            </a>
                        </div>
                        <div 
                            class="col fw-bold fs-6 text-end"
                            [ngClass]="{
                                'text-danger': !propertyAnalysis?.isCashFlowWithinCriteria,
                                'text-success': propertyAnalysis?.isCashFlowWithinCriteria,
                                'text-muted': propertyAnalysis?.isCashFlowWithinCriteria == null
                            }">
                            {{ propertyAnalysis?.isCashFlowWithinCriteria !== null ? (propertyAnalysis?.cashFlow | currency:'USD':'symbol':'1.0-0') : 'n/a' }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-5 text-muted">Cash on Cash Return
                            <a
                                *ngIf="propertyAnalysis?.isCashOnCashReturnWithinCriteria !== null"
                                [ngClass]="{
                                    'btn btn-sm fw-bolder ms-2 fs-8 py-1 px-3 criteria-label': true,
                                    'btn-light-danger': !propertyAnalysis?.isCashOnCashReturnWithinCriteria,
                                    'btn-light-success': propertyAnalysis?.isCashOnCashReturnWithinCriteria
                                }">
                                {{ propertyAnalysis?.isCashOnCashReturnWithinCriteria ? 'Passed' : 'Failed' }}
                            </a>
                        </div>
                        <div
                            class="col fw-bold fs-6 text-end"
                            [ngClass]="{
                                'text-muted': propertyAnalysis?.isCashOnCashReturnWithinCriteria == null,
                                'text-danger': !propertyAnalysis?.isCashOnCashReturnWithinCriteria,
                                'text-success': propertyAnalysis?.isCashOnCashReturnWithinCriteria
                            }">
                            <span>
                                {{ propertyAnalysis?.cashOnCashReturn !== null ? (propertyAnalysis?.cashOnCashReturn + '%') : 'n/a' }}
                            </span>
                        </div>
                    </div>
                    
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-5 text-muted">Cap Rate
                            <a
                                *ngIf="propertyAnalysis?.isCapRateWithinCriteria !== null"
                                [ngClass]="{
                                    'btn btn-sm fw-bolder ms-2 fs-8 py-1 px-3 criteria-label': true,
                                    'btn-light-danger': !propertyAnalysis?.isCapRateWithinCriteria,
                                    'btn-light-success': propertyAnalysis?.isCapRateWithinCriteria
                                }">
                                {{ propertyAnalysis?.isCapRateWithinCriteria ? 'Passed' : 'Failed' }}
                            </a>
                        </div>
                        <div
                            class="col fw-bold fs-6 text-end"
                            [ngClass]="{
                                'text-danger': !propertyAnalysis?.isCapRateWithinCriteria,
                                'text-success': propertyAnalysis?.isCapRateWithinCriteria,
                                'text-muted': propertyAnalysis?.isCapRateWithinCriteria == null
                            }">
                            {{ propertyAnalysis?.capRate !== null ? (propertyAnalysis?.capRate + '%') : 'n/a' }}
                        </div>
                    </div>
                    
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-5 text-muted">Internal Rate of Return
                            <a
                                *ngIf="propertyAnalysis?.isInternalRateOfReturnWithinCriteria !== null"
                                [ngClass]="{
                                    'btn btn-sm fw-bolder ms-2 fs-8 py-1 px-3 criteria-label': true,
                                    'btn-light-danger': !propertyAnalysis?.isInternalRateOfReturnWithinCriteria,
                                    'btn-light-success': propertyAnalysis?.isInternalRateOfReturnWithinCriteria
                                }">
                                {{ propertyAnalysis?.isInternalRateOfReturnWithinCriteria ? 'Passed' : 'Failed' }}
                            </a>
                        </div>
                        <div
                            class="col fw-bold fs-6 text-end"
                            [ngClass]="{
                                'text-danger': !propertyAnalysis?.isInternalRateOfReturnWithinCriteria,
                                'text-success': propertyAnalysis?.isInternalRateOfReturnWithinCriteria,
                                'text-muted': propertyAnalysis?.isInternalRateOfReturnWithinCriteria == null
                            }">
                            {{ propertyAnalysis?.internalRateOfReturn !== null ? (propertyAnalysis?.internalRateOfReturn + '%') : 'n/a' }}
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>

    <!-- Analysis Summary -->
    <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
        <div class="card-header">
            <div class="card-title m-0">
                <h2 class="fw-bolder m-0">Analysis Summary</h2>
            </div>
        </div>

        <div class="card-body p-9 pb-3">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-5 text-muted">
                            Purchase Price
                            <app-info-icon title="Purchase Price"></app-info-icon>
                        </div>
                        <div class="col fw-bold fs-6 text-end" 
                            [ngClass]="{'text-muted': !propertyAnalysis?.purchasePrice, 'text-gray-900': propertyAnalysis?.purchasePrice}">
                            {{ propertyAnalysis?.purchasePrice !== null ? (propertyAnalysis?.purchasePrice | currency:'USD':'symbol':'1.0-0') : 'n/a' }}
                        </div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-5 text-muted">
                            Total Cash Needed
                            <app-info-icon title="Total Cash Needed"></app-info-icon>
                        </div>
                        <div class="col fw-bold fs-6 text-end" 
                            [ngClass]="{'text-muted': !propertyAnalysis?.cashNeeded, 'text-gray-900': propertyAnalysis?.cashNeeded}">
                            {{ propertyAnalysis?.cashNeeded !== null ? (propertyAnalysis?.cashNeeded | currency:'USD':'symbol':'1.0-0') : 'n/a' }}
                        </div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-5 text-muted">
                            Rental Income
                            <app-info-icon title="Purchase Price"></app-info-icon>
                        </div>
                        <div class="col fw-bold fs-6 text-end" 
                            [ngClass]="{'text-muted': !propertyAnalysis?.grossScheduledIncome, 'text-gray-900': propertyAnalysis?.grossScheduledIncome}">
                            {{ propertyAnalysis?.grossScheduledIncome !== null ? (propertyAnalysis?.grossScheduledIncome | currency:'USD':'symbol':'1.0-0') : 'n/a' }}
                        </div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-5 text-muted">
                            Total Expenses
                            <app-info-icon title="Purchase Price"></app-info-icon>
                        </div>
                        <div class="col fw-bold fs-6 text-end" 
                            [ngClass]="{'text-muted': !propertyAnalysis?.totalExpenses, 'text-gray-900': propertyAnalysis?.totalExpenses}">
                            {{ propertyAnalysis?.totalExpenses !== null ? (propertyAnalysis?.totalExpenses | currency:'USD':'symbol':'1.0-0') : 'n/a' }}
                        </div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-5 text-muted">
                            Cash Flow
                            <app-info-icon title="Purchase Price"></app-info-icon>
                        </div>
                        <div class="col fw-bold fs-6 text-end" 
                            [ngClass]="{'text-muted': !propertyAnalysis?.cashFlow, 'text-gray-900': propertyAnalysis?.cashFlow}">
                            {{ propertyAnalysis?.cashFlow !== null ? (propertyAnalysis?.cashFlow | currency:'USD':'symbol':'1.0-0') : 'n/a' }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-5 text-muted">
                            Cash on Cash Return
                            <app-info-icon title="Purchase Price"></app-info-icon>
                        </div>
                        <div class="col fw-bold fs-6 text-end" 
                            [ngClass]="{'text-muted': !propertyAnalysis?.cashOnCashReturn, 'text-gray-900': propertyAnalysis?.cashOnCashReturn}">
                            {{ propertyAnalysis?.cashOnCashReturn !== null ? (propertyAnalysis?.cashOnCashReturn + '%') : 'n/a' }}
                        </div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-5 text-muted">
                            Cap Rate
                            <app-info-icon title="Purchase Price"></app-info-icon>
                        </div>
                        <div class="col fw-bold fs-6 text-end" 
                            [ngClass]="{'text-muted': !propertyAnalysis?.capRate, 'text-gray-900': propertyAnalysis?.capRate}">
                            {{ propertyAnalysis?.capRate !== null ? (propertyAnalysis?.capRate + '%') : 'n/a' }}
                        </div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-5 text-muted">
                            Net Operating Income
                            <app-info-icon title="Purchase Price"></app-info-icon>
                        </div>
                        <div class="col fw-bold fs-6 text-end" 
                            [ngClass]="{'text-muted': !propertyAnalysis?.netOperatingIncome, 'text-gray-900': propertyAnalysis?.netOperatingIncome}">
                            {{ propertyAnalysis?.netOperatingIncome !== null ? (propertyAnalysis?.netOperatingIncome | currency:'USD':'symbol':'1.0-0') : 'n/a' }}
                        </div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-5 text-muted">
                            Internal Rate of Return
                            <app-info-icon title="Purchase Price"></app-info-icon>
                        </div>
                        <div class="col fw-bold fs-6 text-end" 
                            [ngClass]="{'text-muted': !propertyAnalysis?.internalRateOfReturn, 'text-gray-900': propertyAnalysis?.internalRateOfReturn}">
                            {{ propertyAnalysis?.internalRateOfReturn !== null ? (propertyAnalysis?.internalRateOfReturn + '%') : 'n/a' }}
                        </div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-5 text-muted">
                            Debt Coverage Ratio
                            <app-info-icon title="Purchase Price"></app-info-icon>
                        </div>
                        <div class="col fw-bold fs-6 text-end" 
                            [ngClass]="{'text-muted': !propertyAnalysis?.debtCoverageRatio, 'text-gray-900': propertyAnalysis?.debtCoverageRatio}">
                            {{ propertyAnalysis?.debtCoverageRatio !== null ? (propertyAnalysis?.debtCoverageRatio + '%') : 'n/a' }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Expenses -->
    <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
        <div class="card-header">
            <div class="card-title m-0">
                <h2 class="fw-bolder m-0">Expenses</h2>
            </div>
        </div>

        <div class="card-body p-9 pb-3">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-5 text-muted">
                            Mortgage
                            <app-info-icon title="Purchase Price"></app-info-icon>
                        </div>
                        <div class="col fw-bold fs-6 text-end"
                            [ngClass]="{'text-muted': !propertyAnalysis?.mortgage, 'text-gray-900': propertyAnalysis?.mortgage}">
                            {{ propertyAnalysis?.mortgage !== null ? (propertyAnalysis?.mortgage | currency:'USD':'symbol':'1.0-0') : 'n/a' }}
                        </div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-5 text-muted">
                            Property Taxes
                            <app-info-icon title="Purchase Price"></app-info-icon>
                        </div>
                        <div class="col fw-bold fs-6 text-end"
                            [ngClass]="{'text-muted': !propertyAnalysis?.propertyTaxes, 'text-gray-900': propertyAnalysis?.propertyTaxes}">
                            {{ propertyAnalysis?.propertyTaxes !== null ? (propertyAnalysis?.propertyTaxes | currency:'USD':'symbol':'1.0-0') : 'n/a' }}
                        </div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-5 text-muted">
                            Insurance
                            <app-info-icon title="Purchase Price"></app-info-icon>
                        </div>
                        <div class="col fw-bold fs-6 text-end"
                            [ngClass]="{'text-muted': !propertyAnalysis?.insurance, 'text-gray-900': propertyAnalysis?.insurance}">
                            {{ propertyAnalysis?.insurance !== null ? (propertyAnalysis?.insurance | currency:'USD':'symbol':'1.0-0') : 'n/a' }}
                        </div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-5 text-muted">
                            Vacancy
                            <app-info-icon title="Purchase Price"></app-info-icon>
                        </div>
                        <div class="col fw-bold fs-6 text-end"
                            [ngClass]="{'text-muted': !propertyAnalysis?.vacancy, 'text-gray-900': propertyAnalysis?.vacancy}">
                            {{ propertyAnalysis?.vacancy !== null ? (propertyAnalysis?.vacancy | currency:'USD':'symbol':'1.0-0') : 'n/a' }}
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-5 text-muted">
                            Repair & Maintenance
                            <app-info-icon title="Purchase Price"></app-info-icon>
                        </div>
                        <div class="col fw-bold fs-6 text-end"
                            [ngClass]="{'text-muted': !propertyAnalysis?.repairAndMaintenance, 'text-gray-900': propertyAnalysis?.repairAndMaintenance}">
                            {{ propertyAnalysis?.repairAndMaintenance !== null ? (propertyAnalysis?.repairAndMaintenance | currency:'USD':'symbol':'1.0-0') : 'n/a' }}
                        </div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-5 text-muted">
                            Capital Expenditure
                            <app-info-icon title="Purchase Price"></app-info-icon>
                        </div>
                        <div class="col fw-bold fs-6 text-end"
                            [ngClass]="{'text-muted': !propertyAnalysis?.capitalExpenditure, 'text-gray-900': propertyAnalysis?.capitalExpenditure}">
                            {{ propertyAnalysis?.capitalExpenditure !== null ? (propertyAnalysis?.capitalExpenditure | currency:'USD':'symbol':'1.0-0') : 'n/a' }}
                        </div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-5 text-muted">
                            Management Fees
                            <app-info-icon title="Purchase Price"></app-info-icon>
                        </div>
                        <div class="col fw-bold fs-6 text-end"
                            [ngClass]="{'text-muted': !propertyAnalysis?.managementFees, 'text-gray-900': propertyAnalysis?.managementFees}">
                            {{ propertyAnalysis?.managementFees !== null ? (propertyAnalysis?.managementFees | currency:'USD':'symbol':'1.0-0') : 'n/a' }}
                        </div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-8 fw-bold fs-5 text-muted">
                            Other Expenses
                            <app-info-icon title="Purchase Price"></app-info-icon>
                        </div>
                        <div class="col fw-bold fs-6 text-end"
                            [ngClass]="{'text-muted': !propertyAnalysis?.otherExpenses, 'text-gray-900': propertyAnalysis?.otherExpenses}">
                            {{ propertyAnalysis?.otherExpenses !== null ? (propertyAnalysis?.otherExpenses | currency:'USD':'symbol':'1.0-0') : 'n/a' }}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card-footer pb-0">
            <div class="row mb-7">
                <div class="col-8 fw-bold fs-5 text-gray-900">
                    Total Expenses:
                </div>
                <div class="col fw-bolder fs-6 text-end"
                    [ngClass]="{'text-muted': !propertyAnalysis?.totalExpenses, 'text-primary': propertyAnalysis?.totalExpenses}">
                    {{ propertyAnalysis?.totalExpenses !== null ? (propertyAnalysis?.totalExpenses | currency:'USD':'symbol':'1.0-0') : 'n/a' }}
                </div>
            </div>
        </div>
    </div>

    <!-- Rental Comps -->
    <div class="card mb-5 mb-xl-8">
        <div class="card-header border-0 pt-5">
            <h2 class="card-title align-items-start flex-column">
                <span class="card-label fw-bolder fs-3 mb-1">Rent Comparables</span>
                <span class="text-muted mt-1 fw-bold fs-7">{{ rentComparables !== null ? rentComparables?.length : '0' }} total comparables </span>
            </h2>
        </div>
        
        <div class="card-body py-3">
            <!-- begin::Table container -->
            <div class="table-responsive">
                <!-- begin::Table -->
                <table class="table align-middle gs-0 gy-4">
                    <!-- begin::Table head -->
                    <thead>
                        <tr class="fw-bolder text-muted bg-light">
                            <th
                                class="ps-4 min-w-325px rounded-start">Property</th>
                            <th class="min-w-100px">Rent</th>
                            <th class="min-w-100px">Distance</th>
                            <th class="min-w-125px">Year Built</th>
                            <th class="min-w-150px">Correlation</th>
                        </tr>
                    </thead>
                    <!-- end::Table head -->
                    <!-- begin::Table body -->
                    <tbody>
                        <ng-container *ngIf="rentComparables && rentComparables.length > 0; else noRentComparables">
                            <tr *ngFor="let rentalComp of rentComparables">
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="d-flex ps-4 flex-column">
                                            <div class="text-gray-900 fw-bold mb-1 fs-6">
                                                {{ rentalComp.formattedAddress }}
                                            </div>
                                            <span
                                                class="text-muted fw-bold text-muted d-block fs-7">
                                                {{ rentalComp.propertyType }} | {{ rentalComp.bedrooms }} bds | {{ rentalComp.bathrooms }} bths
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="text-gray-900 fw-bold d-block mb-1 fs-6">
                                        {{ rentalComp.price | currency:'USD':'symbol':'1.0-0' }}
                                    </div>
                                </td>
                                <td>
                                    <div class="text-gray-900 fw-bold d-block mb-1 fs-6">
                                        {{ rentalComp.distance }} mi
                                    </div>
                                </td>
                                <td>
                                    <div
                                        class="fw-bold d-block mb-1 fs-6"
                                        [ngClass]="{'text-muted': rentalComp.yearBuilt == null, 'text-gray-900': rentalComp.yearBuilt}">
                                        {{ rentalComp.yearBuilt !== null ? rentalComp.yearBuilt : 'n/a' }}
                                    </div>
                                </td>
                                <td>
                                    <span>
                                        <div class="btn btn-sm btn-light-success fw-bolder ms-2 fs-8 py-1 px-3 criteria-label"
                                            [ngClass]="{
                                                'btn-light-success': rentalComp.correlation >= 0.85,
                                                'btn-light-warning': rentalComp.correlation >= 0.70 && rentalComp.correlation < 0.85,
                                                'btn-light-danger': rentalComp.correlation < 0.70
                                            }">
                                            {{ rentalComp.correlation | percent }}
                                        </div>
                                    </span>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-template #noRentComparables>
                            <tr>
                                <td colspan="5" class="text-center text-muted fw-bold fs-6 pt-8">
                                    No rent comparables available
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                    <!-- end::Table body -->
                </table>
                <!-- end::Table -->
            </div>
            <!-- end::Table container -->
        </div>
        <!-- begin::Body -->

    </div>

</div>
