<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
  <!--begin::Col-->
  <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
    <app-cards-widget20 cssClass="h-md-50 mb-5 mb-xl-10" description="Properties Meet Criteria" color="#388B55"></app-cards-widget20>

    <app-cards-widget20 cssClass="h-md-50 mb-5 mb-xl-10" description="New Calculations Performed" color="#D4D9D4
    "></app-cards-widget20>

  </div>
  <!--end::Col-->

  <!--begin::Col-->
  <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 ">
      <app-mixed-widget1
        class="card h-100"
        color="primary"
      ></app-mixed-widget1>
  </div>  
  <!--end::Col-->


  <!--begin::Col-->
  <app-tables-widget11 class="card col-xxl-6"></app-tables-widget11>
  <!--end::Col-->
</div>
<!--end::Row-->


<!-- begin::Row -->
<div class="row gy-5 gx-xl-10">
  <div class="col-xl-8">
    <app-investment-criteria [isDashboard]="true"></app-investment-criteria>
  </div>
  <div class="col-xl-4">
    <app-lists-widget4 class="card card-xl-stretch mb-xl-8"></app-lists-widget4>
  </div>
</div>
<!-- end::Row -->

<!-- begin:: Modal example -->
<!-- <app-modal #modal [modalConfig]="modalConfig">
  Modal body html
</app-modal>
<button class="btn btn-primary" (click)="openModal()">Open modal</button> -->
<!-- Note: Don't forget import ModalsModule (from _metronic/partials) into your module -->
<!-- end:: Modal example -->
