<div class="card card-xxl-stretch mb-5 mb-xl-8">
    <div class="card-body pt-9 pb-9">
      <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
  
        <div class="flex-grow-1">
          <div
            class="
              d-flex
              justify-content-between
              align-items-start
              flex-wrap
              mb-2
            "
          >
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center">
                <a
                  class="
                    text-gray-800
                    fs-2
                    fw-bolder
                    me-1
                    cursor-pointer
                  "
                >
                  Investment Criteria
                </a>
                <a class="cursor-pointer">
                </a>
                <a
                  class="
                    btn btn-sm btn-light-success
                    fw-bolder
                    ms-2
                    fs-8
                    py-1
                    px-3
                    cursor-pointer
                  "
                  data-bs-toggle="modal"
                  data-bs-target="#kt_modal_upgrade_plan"
                >
                  Upgrade to Pro
                </a>
              </div>
            </div>

            <div class="d-flex" *ngIf="isDashboard">
              <a
                class="btn btn-sm btn-light-primary me-2 cursor-pointer"
                [routerLink]="['/investment-criteria']"
                [queryParams]="{ edit: true }"
                >
                <span class="indicator-label">Edit</span>
              </a>
            </div>
  
            <div class="d-flex" *ngIf="!isDashboard">
              <a
                class="btn btn-sm btn-light me-2 cursor-pointer"
                (click)="toggleEditing()"
              >
                <span class="indicator-label"> {{ isEditing ? 'Cancel' : 'Edit' }}</span>
              </a>
              <a
                class="btn btn-sm btn-primary me-3 cursor-pointer"
                data-bs-toggle="toast"
                [class.disabled]="!isEditing"
                (click)="onSubmit()"
              >
                Save
              </a>
            </div>
          </div>
        </div>
      </div> 
      <!-- Tabs -->
      <div class="d-flex h-55px">
        <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder flex-nowrap">
          <li class="nav-item">
            <a class="nav-link cursor-pointer text-active-primary me-6"
              [class.active]="selectedTab === 'analysis'"
              (click)="selectedTab = 'analysis'">
                Analysis Criteria
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursor-pointer text-active-primary me-6"
              [class.active]="selectedTab === 'purchase'"
              (click)="selectedTab = 'purchase'">
                Purchase Criteria
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link cursor-pointer text-active-primary me-6"
              [class.active]="selectedTab === 'property'"
              (click)="selectedTab = 'property'">
                Property Criteria
            </a>
          </li>
        </ul>
      </div>

      <div class="mt-5" [ngClass]="isDashboard ? 'scrollable-content' : ''">
        <!-- Analysis Criteria form -->
        <div [formGroup]="analysisCriteriaForm" *ngIf="selectedTab === 'analysis'">
          <div class="pt-3">
            <div class="text-gray-500 fw-bold fs-6">
              Pre-configured values used for analyzing properties.
              <a href="#" class="link-primary fw-bolder"> More info</a>.
            </div>
          </div>
          <!-- Loan Details Section -->
          <div class="pt-5 pb-3 pt-lg-5">
            <h2 class="d-flex align-items-center text-gray-500">
              Loan Details
            </h2>
          </div>
          <div class="row mb-10">
            
            <div class="col-md-6">
              <label class="form-label required fw-bold">Down Payment</label>
              <div class="input-group">
                <input
                  name="downPayment"
                  class="form-control form-control-lg form-control-solid"
                  formControlName="downPayment"
                  type="number"
                  [ngClass]="{'input-editing': isEditing, 'input-non-editing': !isEditing}"
                />
                <span class="input-addon">%</span>
              </div>
              <div
                class="fv-plugins-message-container invalid-feedback"
                *ngIf="
                  analysisCriteriaForm.get('downPayment')?.hasError('required') &&
                  analysisCriteriaForm.get('downPayment')?.touched
                "
              >
                This field is required
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label required fw-bold">Loan Term</label
              >
              <div class="input-group">
                <input
                  name="loanTerm"
                  class="form-control form-control-lg form-control-solid"
                  formControlName="loanTerm"
                  type="number"
                  [ngClass]="{'input-editing': isEditing, 'input-non-editing': !isEditing}"
                />
                <span class="text-addon">Years</span>
              </div>
              <div
                class="fv-plugins-message-container invalid-feedback"
                *ngIf="
                  analysisCriteriaForm.get('loanTerm')?.hasError('required') &&
                  analysisCriteriaForm.get('loanTerm')?.touched
                "
              >
                This field is required
              </div>
            </div>
          </div>
          <div class="row mb-10">
            
            <div class="col-md-6">
              <label class="d-flex align-items-center form-label"
              ><span class="required fw-bold">Interest Rate</span></label
            >
            <div class="input-group">
              <input
                name="interestRate"
                class="form-control form-control-lg form-control-solid"
                formControlName="interestRate"
                type="number"
                [ngClass]="{'input-editing': isEditing, 'input-non-editing': !isEditing}"
              />
              <span class="input-addon">%</span>
            </div>
            <div
              class="fv-plugins-message-container invalid-feedback"
              *ngIf="
                analysisCriteriaForm.get('interestRate')?.hasError('required') &&
                analysisCriteriaForm.get('interestRate')?.touched
              "
            >
              This field is required
            </div>
            </div>
          </div>
          <!-- Expenses Section -->
          <div class="pt-5 pb-4 pt-lg-5">
            <h2 class="d-flex align-items-center text-gray-500">
              Expenses
            </h2>
          </div>
          <div class="row mb-10">
            <div class="col-md-6">
              <label class="form-label required fw-bold">Closing Cost</label
              >
              <div class="input-group">
                <input
                  name="closingCost"
                  class="form-control form-control-lg form-control-solid"
                  formControlName="closingCost"
                  type="number"
                  [ngClass]="{'input-editing': isEditing, 'input-non-editing': !isEditing}"
                />
                <span class="input-addon">%</span>
              </div>
              <div
                class="fv-plugins-message-container invalid-feedback"
                *ngIf="
                  analysisCriteriaForm.get('closingCost')?.hasError('required') &&
                  analysisCriteriaForm.get('closingCost')?.touched
                "
              >
                This field is required
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label required fw-bold">Insurance Cost</label
              >
              <div class="input-group">
                <input
                  name="insuranceCost"
                  class="form-control form-control-lg form-control-solid"
                  formControlName="insuranceCost"
                  appCurrencyFormat
                  type="text"
                  [ngClass]="{'input-editing': isEditing, 'input-non-editing': !isEditing}"
                />
                <span class="text-addon">Yearly</span>
              </div>
              <div
                class="fv-plugins-message-container invalid-feedback"
                *ngIf="
                  analysisCriteriaForm.get('insuranceCost')?.hasError('required') &&
                  analysisCriteriaForm.get('insuranceCost')?.touched
                "
              >
                This field is required
              </div>
            </div>
            
          </div>

          <div class="row mb-10">
            <div class="col-md-6">
              <label class="form-label required fw-bold">Repair & Maintenance</label
              >
              <div class="input-group">
                <input
                  name="repairAndMaintenance"
                  class="form-control form-control-lg form-control-solid"
                  formControlName="repairAndMaintenance"
                  type="number"
                  [ngClass]="{'input-editing': isEditing, 'input-non-editing': !isEditing}"
                />
                <span class="input-addon">%</span>
              </div>
              <div
                class="fv-plugins-message-container invalid-feedback"
                *ngIf="
                  analysisCriteriaForm.get('repairAndMaintenance')?.hasError('required') &&
                  analysisCriteriaForm.get('repairAndMaintenance')?.touched
                "
              >
                This field is required
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label required fw-bold">Vacancy</label
              >
              <div class="input-group">
                <input
                  name="vacancy"
                  class="form-control form-control-lg form-control-solid"
                  formControlName="vacancy"
                  type="number"
                  [ngClass]="{'input-editing': isEditing, 'input-non-editing': !isEditing}"
                />
                <span class="input-addon">%</span>
              </div>
              <div
                class="fv-plugins-message-container invalid-feedback"
                *ngIf="
                  analysisCriteriaForm.get('vacancy')?.hasError('required') &&
                  analysisCriteriaForm.get('vacancy')?.touched
                "
              >
                This field is required
              </div>
            </div>
          </div>

          <div class="row mb-10">
            <div class="col-md-6">
              <label class="form-label required fw-bold">Capital Expenditures</label
              >
              <div class="input-group">
                <input
                  name="capitalExpenditure"
                  class="form-control form-control-lg form-control-solid"
                  formControlName="capitalExpenditure"
                  type="number"
                  [ngClass]="{'input-editing': isEditing, 'input-non-editing': !isEditing}"
                />
                <span class="input-addon">%</span>
              </div>
              <div
                class="fv-plugins-message-container invalid-feedback"
                *ngIf="
                  analysisCriteriaForm.get('capitalExpenditure')?.hasError('required') &&
                  analysisCriteriaForm.get('capitalExpenditure')?.touched
                "
              >
                This field is required
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label required fw-bold">Management Fees</label
              >
              <div class="input-group">
                <input
                  name="managementFees"
                  class="form-control form-control-lg form-control-solid"
                  formControlName="managementFees"
                  type="number"
                  [ngClass]="{'input-editing': isEditing, 'input-non-editing': !isEditing}"
                />
                <span class="input-addon">%</span>
              </div>
              <div
                class="fv-plugins-message-container invalid-feedback"
                *ngIf="
                  analysisCriteriaForm.get('managementFees')?.hasError('required') &&
                  analysisCriteriaForm.get('managementFees')?.touched
                "
              >
                This field is required
              </div>
            </div>
          </div>
          
          

          <div class="row mb-10">
            <div class="col-md-6">
              <label class="form-label fw-bold">Other Expenses</label
              >
              <div class="input-group">
                <input
                  name="otherExpenses"
                  class="form-control form-control-lg form-control-solid"
                  formControlName="otherExpenses"
                  appCurrencyFormat
                  type="text"
                  [ngClass]="{'input-editing': isEditing, 'input-non-editing': !isEditing}"
                />
                <span class="text-addon">Yearly</span>
              </div>
              <div
                class="fv-plugins-message-container invalid-feedback"
                *ngIf="
                  analysisCriteriaForm.get('otherExpenses')?.hasError('required') &&
                  analysisCriteriaForm.get('otherExpenses')?.touched
                "
              >
                This field is required
              </div>
            </div>
          </div>

          <!-- Long Term Pojections Section -->
          <div class="pt-5 pb-4 pt-lg-5">
            <h2 class="d-flex align-items-center text-gray-500">
              Long-Term Projections
            </h2>
          </div>
          <div class="row mb-10">
            <div class="col-md-6">
              <label class="d-flex align-items-center form-label"
              ><span class="required fw-bold">Annual Appreciation</span></label
            >
            <div class="input-group">
              <input
                name="annualAppreciation"
                class="form-control form-control-lg form-control-solid"
                formControlName="annualAppreciation"
                type="number"
                [ngClass]="{'input-editing': isEditing, 'input-non-editing': !isEditing}"
              />
              <span class="input-addon">%</span>
            </div>
            <div
              class="fv-plugins-message-container invalid-feedback"
              *ngIf="
                analysisCriteriaForm.get('annualAppreciation')?.hasError('required') &&
                analysisCriteriaForm.get('annualAppreciation')?.touched
              "
            >
              This field is required
            </div>
            </div>
            <div class="col-md-6">
              <label class="form-label required fw-bold">Annual Income Growth</label
              >
              <div class="input-group">
                <input
                  name="annualIncomeGrowth"
                  class="form-control form-control-lg form-control-solid"
                  formControlName="annualIncomeGrowth"
                  type="number"
                  [ngClass]="{'input-editing': isEditing, 'input-non-editing': !isEditing}"
                />
                <span class="input-addon">%</span>
              </div>
              <div
                class="fv-plugins-message-container invalid-feedback"
                *ngIf="
                  analysisCriteriaForm.get('annualIncomeGrowth')?.hasError('required') &&
                  analysisCriteriaForm.get('annualIncomeGrowth')?.touched
                "
              >
                This field is required
              </div>
            </div>
          </div>

          <div class="row mb-10">
            <div class="col-md-6">
              <label class="form-label required fw-bold">Annual Expense Growth</label
              >
              <div class="input-group">
                <input
                  name="annualExpenseGrowth"
                  class="form-control form-control-lg form-control-solid"
                  formControlName="annualExpenseGrowth"
                  type="number"
                  [ngClass]="{'input-editing': isEditing, 'input-non-editing': !isEditing}"
                />
                <span class="input-addon">%</span>
              </div>
              <div
                class="fv-plugins-message-container invalid-feedback"
                *ngIf="
                  analysisCriteriaForm.get('annualExpenseGrowth')?.hasError('required') &&
                  analysisCriteriaForm.get('annualExpenseGrowth')?.touched
                "
              >
                This field is required
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label required fw-bold">Selling Cost</label
              >
              <div class="input-group">
                <input
                  name="sellingCost"
                  class="form-control form-control-lg form-control-solid"
                  formControlName="sellingCost"
                  type="number"
                  [ngClass]="{'input-editing': isEditing, 'input-non-editing': !isEditing}"
                />
                <span class="input-addon">%</span>
              </div>
              <div
                class="fv-plugins-message-container invalid-feedback"
                *ngIf="
                  analysisCriteriaForm.get('sellingCost')?.hasError('required') &&
                  analysisCriteriaForm.get('sellingCost')?.touched
                "
              >
                This field is required
              </div>
            </div>
          </div>

        </div>

        <!-- Purchase Criteria form -->
        <div [formGroup]="purchaseCriteriaForm" *ngIf="selectedTab === 'purchase'">
          <div class="row mb-10">
            <div class="col-md-6">
              <label class="form-label  fw-bold">Purchase Price</label
              >
              <div class="input-group">
                <input
                  name="purchasePrice"
                  class="form-control form-control-lg form-control-solid"
                  formControlName="purchasePrice"
                  appCurrencyFormat
                  type="text"
                  [ngClass]="{'input-editing': isEditing, 'input-non-editing': !isEditing}"
                />
                <span class="text-addon">$</span>
              </div>
              <div class="form-text">
                Maximum purchase price
              </div>
            </div>
            <div class="col-md-6">
              <label class="d-flex align-items-center form-label"
              ><span class="fw-bold">Total Cash Needed</span></label>
              <div class="input-group">
                <input
                  name="cashNeeded"
                  class="form-control form-control-lg form-control-solid"
                  formControlName="cashNeeded"
                  appCurrencyFormat
                  type="text"
                  [ngClass]="{'input-editing': isEditing, 'input-non-editing': !isEditing}"
                />
                <span class="text-addon">$</span>
              </div>
              <div class="form-text">
                Maximum cash needed
              </div>
            </div>
          </div>

          <div class="row mb-10">
            <div class="col-md-6">
              <label class="form-label fw-bold">Cash on Cash Return</label
              >
              <div class="input-group">
                <input
                  name="cashOnCashReturn"
                  class="form-control form-control-lg form-control-solid"
                  formControlName="cashOnCashReturn"
                  type="number"
                  [ngClass]="{'input-editing': isEditing, 'input-non-editing': !isEditing}"
                />
                <span class="input-addon">%</span>
              </div>
              <div class="form-text">
                Minimum CoC return
              </div>
            </div>
            <div class="col-md-6">
              <label class="d-flex align-items-center form-label"
              ><span class="fw-bold">Cap Rate</span></label
            >
            <div class="input-group">
              <input
                name="capRate"
                class="form-control form-control-lg form-control-solid"
                formControlName="capRate"
                type="number"
                [ngClass]="{'input-editing': isEditing, 'input-non-editing': !isEditing}"
              />
              <span class="input-addon">%</span>
            </div>
            <div
              class="fv-plugins-message-container invalid-feedback"
              *ngIf="
                purchaseCriteriaForm.get('capRate')?.hasError('required') &&
                purchaseCriteriaForm.get('capRate')?.touched
              "
            >
              Cap rate is required
            </div>
            <div class="form-text">
              Minimum cap rate
            </div>
            </div>

          </div>

          <div class="row mb-10">
            <div class="col-md-6">
              <label class="form-label fw-bold">Internal Rate of Return</label
              >
              <div class="input-group">
                <input
                  name="internalRateOfReturn"
                  class="form-control form-control-lg form-control-solid"
                  formControlName="internalRateOfReturn"
                  type="number"
                  [ngClass]="{'input-editing': isEditing, 'input-non-editing': !isEditing}"
                />
                <span class="input-addon">%</span>
              </div>

              <div
                class="fv-plugins-message-container invalid-feedback"
                *ngIf="
                  purchaseCriteriaForm.get('internalRateOfReturn')?.hasError('required') &&
                  purchaseCriteriaForm.get('internalRateOfReturn')?.touched
                "
              >
                IRR is required
              </div>
              <div class="form-text">
                Minimum internal rate of return
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label fw-bold">Cash Flow</label
              >
              <div class="input-group">
                <input
                  name="cashFlow"
                  class="form-control form-control-lg form-control-solid"
                  formControlName="cashFlow"
                  appCurrencyFormat
                  type="text"
                  [ngClass]="{'input-editing': isEditing, 'input-non-editing': !isEditing}"
                />
                <span class="text-addon">Monthly</span>
              </div>
              <div
                class="fv-plugins-message-container invalid-feedback"
                *ngIf="
                  purchaseCriteriaForm.get('cashFlow')?.hasError('required') &&
                  purchaseCriteriaForm.get('cashFlow')?.touched
                "
              >
                Cash flow is required
              </div>
              <div class="form-text">
                Minimum cash flow
              </div>
            </div>
          </div>

        </div>

        <!-- Property Criteria form -->
        <div [formGroup]="propertyCriteriaForm" *ngIf="selectedTab === 'property'">
          <div class="row mb-10">
            <div class="col-md-6">
              <label class="form-label required fw-bold">Property Type</label
                ><select
                  name="propertyType"
                  class="form-select form-select-lg form-select-solid"
                  formControlName="propertyType"
                  [ngClass]="{'input-editing': isEditing, 'input-non-editing': !isEditing}"
                >
                  <option value="Multi-Family">Multi-Family</option>
                  <option disabled value="1">Single Family (coming soon)</option>
                  <option disabled value="2">Condo (coming soon)</option>
                  <option disabled value="3">Townhouse (coming soon)</option>
                </select>
                <div
                class="fv-plugins-message-container invalid-feedback"
                *ngIf="
                  propertyCriteriaForm.get('propertyType')?.hasError('required') &&
                  propertyCriteriaForm.get('propertyType')?.touched
                "
              >
                Select at least one property type
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label required fw-bold">State</label
                ><select
                  name="state"
                  class="form-select form-select-lg form-select-solid"
                  formControlName="state"
                  [ngClass]="{'input-editing': isEditing, 'input-non-editing': !isEditing}"
                >
                  <option value="FL">FL</option>
                  <option disabled value="1">AL</option>
                  <option disabled value="2">LA</option>
                </select>
                <div
                class="fv-plugins-message-container invalid-feedback"
                *ngIf="
                  propertyCriteriaForm.get('state')?.hasError('required') &&
                  propertyCriteriaForm.get('state')?.touched
                "
              >
                Select at least one state
              </div>
            </div>
          </div>
          <!-- <div class="row mb-10">
            <div class="col-md-6">
              <label class="d-flex align-items-center form-label"
              ><span class="fw-bold">Bedrooms</span></label>
              <input
              name="bedrooms"
              class="form-control form-control-lg form-control-solid"
              formControlName="bedrooms"
              type="number"
              />
              <div
                class="fv-plugins-message-container invalid-feedback"
                *ngIf="
                  propertyCriteriaForm.get('bedrooms')?.hasError('required') &&
                  propertyCriteriaForm.get('bedrooms')?.touched
                "
              >
                Shortened Descriptor is required
              </div>
            </div>
            <div class="col-md-6">
              <label class="d-flex align-items-center form-label"
              ><span class="fw-bold">Bathrooms</span></label>
              <input
              name="bathrooms"
              class="form-control form-control-lg form-control-solid"
              formControlName="bathrooms"
              type="number"
              />
              <div
                class="fv-plugins-message-container invalid-feedback"
                *ngIf="
                  propertyCriteriaForm.get('bathrooms')?.hasError('required') &&
                  propertyCriteriaForm.get('bathrooms')?.touched
                "
              >
                Shortened Descriptor is required
              </div>
            </div>
            
          </div> -->
          <div class="row mb-10">
            <div class="col-md-6">
              <label class="form-label required fw-bold">City</label
                ><select
                  name="city"
                  class="form-select form-select-lg form-select-solid"
                  formControlName="city"
                  [ngClass]="{'input-editing': isEditing, 'input-non-editing': !isEditing}"
                >
                  <option value="Tampa">Tampa</option>
                  <option disabled value="1">Miami</option>
                  <option disabled value="2">Saint Petersburg</option>
                  <option disabled value="3">Ybor</option>
                </select>
                <div
                class="fv-plugins-message-container invalid-feedback"
                *ngIf="
                  propertyCriteriaForm.get('city')?.hasError('required') &&
                  propertyCriteriaForm.get('city')?.touched
                "
              >
                Select at least one city
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label fw-bold">Zip Code</label
                ><select
                  name="zipCode"
                  class="form-select form-select-lg form-select-solid"
                  formControlName="zipCode"
                  [ngClass]="{'input-editing': isEditing, 'input-non-editing': !isEditing}"
                >
                  <option value="1">33629</option>
                  <option disabled value="1">33545</option>
                  <option disabled value="2">32301</option>
                  <option disabled value="3">32304</option>
                </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>