.scrollable-content {
    max-height: 400px;
    overflow-y: auto; /* Makes only the vertical axis scrollable */
  }
  
  .input-addon {
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.text-addon {
  padding: 15px 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.input-error {
  border-color: rgba(255, 0, 0, 0.393) !important; /* Ensure it overrides other styles */
}

.form-control, .form-select {
  border-color: #F1F1F4;
  border-width: 2px;
}

.form-control:focus {
  border-width: 2px;
  border-color: #C4CADA ;
}


.input-editing {
  background-color: #F9F9F9; /* light green for editing */
}

.input-non-editing {
  cursor: not-allowed;
  background-color: #F1F1F4; /* light grey for non-editing */
}
